.align-baseline {
	align-items: baseline
}

.align-center {
	align-items: center;
}

.align-end {
	align-items: end
}

.align-start {
	align-items: flex-start
}

.block-container {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	padding: $standardSpacing;

	.block {
		&.left-block {
			padding-right: $standardSpacing;
		}

		&.middle-block {
			padding: 0 $standardSpacing;
		}

		&.right-block {
			padding-left: $standardSpacing;
		}
	}
}

.font-weight-lighter {
	font-weight: 200;
}

.font-weight-bold {
	font-weight: 600;
}

.full-screen {
	max-width: none !important;

	.portlet-column {
		max-width: none;
	}
}

.justify-center {
	justify-content: center
}

.justify-end {
	justify-content: flex-end
}

.justify-space-around {
	justify-content: space-around;
}

.justify-space-between {
	justify-content: space-between
}

.justify-start {
	justify-content: flex-start
}

.max-full, .max-lg, .max-med, .max-sm {
	margin: 0 auto;
	padding: 0 $standardSpacing;

	box-sizing: border-box;
}

.max-full {
	max-width: 1200px;
}

.max-lg {
	max-width: 960px;
}

.max-med {
	max-width: 720px;
}

.max-sm {
	max-width: 480px;
}

.no-margin {
	margin: 0;
}

.no-margin-horizontal {
	margin-left: 0;
	margin-right: 0;
}

.no-margin-vertical {
	margin-bottom: 0;
	margin-top: 0;
}

.no-padding {
	padding: 0;
}

.no-padding-horizontal {
	padding-left: 0;
	padding-right: 0;
}

.no-padding-vertical {
	padding-bottom: 0;
	padding-top: 0;
}

.large-padding {
	padding: $largeSpacing;
}

.large-padding-horizontal {
	padding-left: $largeSpacing;
	padding-right: $largeSpacing;
}

.large-padding-vertical {
	padding-bottom: $largeSpacing;
	padding-top: $largeSpacing;
}

.section-padding {
	padding-bottom: 6em;
	padding-top: 5em;
}

.small-padding {
	padding: $smallSpacing;
}

.small-padding-horizontal {
	padding-left: $smallSpacing;
	padding-right: $smallSpacing;
}

.small-padding-vertical {
	padding-bottom: $smallSpacing;
	padding-top: $smallSpacing;
}

.standard-padding {
	padding: $standardSpacing;
}

.standard-padding-horizontal {
	padding-left: $standardSpacing;
	padding-right: $standardSpacing;
}

.standard-padding-vertical {
	padding-bottom: $standardSpacing;
	padding-top: $standardSpacing;
}